.reveal{
  transition: opacity 0.5s ease;
}

a:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

a:hover:after {
  width: 100%;
  background: $text-color;
}

nav>*{
  transition: all 1s ease;
  // transition: height 1s ease, opacity 1s ease;
}
