// Vars
$base-color : #050013;
$text-color : #d3d3d3;
$text-color-aside : darken($text-color, 25%);
$text-color-em : darken($text-color, 50%);

body{
  background-color: $base-color;
  color: $text-color;
  font-family: "Square";
  font-weight: 300;
  overflow: hidden;

  p{
    font-family: monospace;
    text-align: justify;
  }

  hr{
    background-color: $text-color-aside;
  }

  .container-fluid{
    height: 100vh;

    nav{
      margin: auto 0;
      border: $text-color 0.5px solid;

      h2{
        margin-top: 5px;
      }

      del{
        color: $text-color-aside;
      }
    }
  }

  a {
    display: inline-block;
    color: $text-color;

    &:hover{
      color: $text-color;
      text-decoration: none;
    }

    &:hover+.reveal{
      opacity: 1;
    }
  }

  .reveal{
    padding-left: 15px;
    color: $text-color-em;
    opacity: 0;
  }
  .reveal.show{
    opacity: 1;
  }

  .anim-hide{
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

// Fonts
@font-face {
    font-family: Square;
    font-weight: 300;
    src: url("../fonts/FORCED SQUARE.ttf");
}


// Imports
@import "animations";
